Package: com.anlai.tiktokx
Name: TikTokX
Version: 1.0.14
Architecture: iphoneos-arm64
Description: Background play and auto scroll for TikTok
Maintainer: AnLai
Author: AnLai
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
